footer.footer
  .container
    span.text-light &copy; Copyright 2018 James Calhoun - 
      a.text-light(href='https://github.com/jc190/nightlife-app') 
        | [
        img.mx-1(src='/public/img/github_32px.png', height='16', width='16')
        | Github code ]