nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='/') Nightlife App
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        if user
          li.nav-item.mr-3
            span.navbar-text Hello, #{user.github.displayName}
          li.nav-item
            a.btn.btn-outline-light(href='/logout') Logout
        else
          li.nav-item
            a.btn.btn-outline-light(href='/auth/github') Login