form(action='/results', method='get')
  .input-group.mb-3
    input.form-control(type='text', name='q', placeholder="Search by City, State & Zip", required)
    .input-group-append
      button.btn.btn-outline-light(type='submit') Search