.input-group.mb-3
  input.form-control(type='text', placeholder="Search by City, State & Zip", aria-label="Recipient's username", aria-describedby='basic-addon2')
  .input-group-append
    button.btn.btn-outline-light(type='button') Search