extends includes/layout.pug
block content
  include includes/jumbotron.pug

  .container.align-self-end
    .row.text-center
      .col-md.p-4
        i.fas.fa-search.fa-5x.mb-4
        h4.text-uppercase Search
        p Search bars in your area.
      .col-md.p-4
        i.fas.fa-map-marker.fa-5x.mb-4
        h4.text-uppercase Locate
        p Pick a place to go and tell others you'll be there with the 'Going' button.
      .col-md.p-4
        i.fas.fa-glass-martini.fa-5x.mb-4
        h4.text-uppercase Live it up
        p Enjoy your night!

    